.container {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "dis dis dis dis" "Clear C divide multiply" "seven eight nine subtract" "four five six add" "one two three equals" "zero zero decimal equals";
}

.padButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    background-color: grey;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    font-size: 20px;
}

.padButton:hover {
    background-color: #ccc;
}

.zero {
    grid-area: zero;
}

.equals {
    grid-area: equals;
}

.dis {
    grid-area: dis;
    background-color: black;
    text-align: right;
    font-size: 20px;

}

.dis input {
    width: 90%;
    color: white;
    padding: 5px 20px;
    text-align: right;
    background-color: black;
}

input::placeholder {
    color: white;
}

.dark-grey {
    background-color: #333;
}

.red {
    background-color: red;
}

.dark-blue {
    background-color: darkblue;
}
/* 
.total{
    padding: 5px 20px;
    color: yellow;
} */
